* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-color: antiquewhite;
    position: relative;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
/* Header section */

.logo{
    width: 100px;
    height: 100px;
}
.header{
    margin: 15px;
    display: flex;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid black; */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    position: sticky;
    top: 0;
    border-radius: 15px;
    background-color: aliceblue;

}
.logo-container >img {
    padding: 5px;
    margin-left: 30px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.header > ul{
    margin-right: 30px;
    list-style-type: none;
    display: flex;
}

.header > ul > .link >li{
    padding: 0 10px;
    text-decoration: none;
}

.header > ul > li{
    padding: 0 10px;
}
.link{
    color: black;
    text-decoration: none;
}


.search{
    padding: 10px;
}
.res-card{   
    width: 250px;
    padding: 10px;
    margin: 5px ;
}

.res-card:hover{
    border: 1px solid lightgray;
    border-radius: 10px;
    cursor: pointer;
}

.res-logo{
    width: 100%;
    border-radius: 14px;    
}
.restaurant-container{
    display: flex;
    flex-wrap: wrap;
}
.filter-btn{
    margin: 10px;
    cursor: pointer;
}
.shimmer-card{
    margin: 20px;
    width: 200px;
    height: 400px;
    background-color: #f0f0f0;

}
.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}
.login-btn{

    padding: 0 8px;
    cursor: pointer;
}
.filter{
    display: flex;
}