* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-color: antiquewhite;
    position: relative;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
/* Header section */

.logo{
    width: 100px;
    height: 100px;
}
.header{
    margin: 15px;
    display: flex;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid black; */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    position: sticky;
    top: 0;
    border-radius: 15px;
    background-color: aliceblue;

}
.logo-container >img {
    padding: 5px;
    margin-left: 30px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.header > ul{
    margin-right: 30px;
    list-style-type: none;
    display: flex;
}

.header > ul > .link >li{
    padding: 0 10px;
    text-decoration: none;
}

.header > ul > li{
    padding: 0 10px;
}
.link{
    color: black;
    text-decoration: none;
}


/* Search */

.filter{
    display: flex;
}

.search-box {
    margin: 10px 10px 10px 50px;
    padding: 10px;
    border: none;
}

#search-btn {
    margin: 10px;
    cursor: pointer;
    padding: 10px;
  }

.login-btn{
    padding: 0 8px;
    cursor: pointer;
}


/* filter */

.filter-btn{
    margin: 10px 10px 10px 50px;
    cursor: pointer;
    padding: 10px;
}

/* Restaurant card */
.restaurant-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.res-card{   
    background-color: rgb(245, 245, 245);
    width: 250px;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.res-card > img{
    padding-top: 10px;
    width: 200px;
    height: 200px;
    border-radius: 15px;
}

.description{
    padding: 10px;
    margin-top: 20px;
    width: 100%;
    overflow: hidden;
}

.description > h2{
    margin-bottom: 10px;
    font-size: 18px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.description > p {
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.res-card:hover{
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
}



/* Shimmer */
.shimmer-container {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .shimmer-card {
    margin: 10px;
    padding: 10px;
    width: 250px;
    height: 300px;
    border-radius: 15px;
    background-color: #f0f0f0;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  }

/* Restaurant menu card */

.restaurant-menu{
    margin: 0 auto;
}

.restaurant-card{
    margin: 0 auto;
    display: flex;
    width: 750px;
    height: 200px;
    padding: 10px;
    background-color: azure;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.restaurant-card #res-image{
    width: 100%;
    height: 100%;
}

.restaurant-card > .res-info{
    padding: 20px;
}

/* res-items */

.res-item{
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    width: 750px;
    padding: 10px;
    background-color: azure;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.item-li{
    height: 150px;
    display: flex;
    flex-direction: row;
    margin: 10px 5px;
}
.res-item >li{
    list-style: none;
}

.res-item > li > .item-img{
    width: 50%;
    height: auto;
}

.res-item > li > .item-img > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.res-item-details{
    padding: 8px;
    width: 100%;
    overflow: hidden;
}
.item-rating{
    margin: 5px 0;
}

.item-description{
    font-size: 12px;
    padding: 5px 0;
}


/* About */

.user-card{
    padding: 10px;
    border: 1px solid black;
}